
<div class="container">
    <h2 class="text-center m-2">管理くんは売上情報、在庫情報、勤怠情報を統合管理できるサイトです</h2>
    <div class="row border border-secondary rounded text-center m-3 p-4">
        <div class="col-3">
            <p><i class="fas fa-chart-bar fa-8x"></i></p>
        </div>
        <div class="col-9">
                <h3>売上管理画面では、日々の売上を記録し</h3>
                <h3>月や年単位の売上がグラフで分かりやすく確認できます</h3>
        </div>
    </div>
    <div class="row border border-secondary rounded text-center m-3 p-4">
        <div class="col-3">
            <p><i class="fas fa-archive fa-8x"></i></p>
        </div>
        <div class="col-9">
                <h3>在庫管理画面では、商品・備品の在庫数の管理や発注・納品</h3>
                <h3>月ごとの発注数などが確認できます</h3>
        </div>
    </div>
    <div class="row border border-secondary rounded text-center m-3 p-4">
        <div class="col-3">
            <p><i class="far fa-calendar-alt fa-8x"></i></p>
        </div>
        <div class="col-9">
                <h3>勤怠管理画面では、スタッフの名前やシフトを登録して</h3>
                <h3>お手軽にシフト表を作成できます</h3>
        </div>
    </div>
</div>